---
import Social from '../components/Social.astro';

const platform = "github";
const username = "withastro";
---
<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin-top: 2rem;
    max-height: 3rem;
  }
  footer div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  @media screen and (min-width: 636px) {
    footer div {
      flex-direction: row;
    }
  }  
</style>

<footer>
    <h2>Let's connect!</h2> 
    <div>
      <Social platform="Twitter" username="NotMichaella" />
      <Social platform="GitHub" username="michaella23" />
      <Social platform="LinkedIn" username="in/michaella-rodriguez" />
    </div>
</footer>