---
const {platform, username} = Astro.props

---

<style>
  a {
    padding: 1rem 1.5rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
    margin-right: 1em;
  }
</style>

<a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>
