---
const {platform, username} = Astro.props

---

<style>
  a {
    padding: 1rem 1.5rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
    margin-right: 1em;
    font-size: 1.1rem;
    text-align: center;
  }

  a:focus,
  a:hover {
    background-color: #9e055e;
  }

  a:active {
    transform: scale(0.9);
  }

</style>

<a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>
